body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to bottom right, #f7f7f7, #d4d4d4);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



h1 {
  font-weight: 700;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

h3 {
  font-weight: 700;
  color: #333;
}

.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

#city-input {
  border-radius: 2px;
  background-color: #f0f0f0;
  border: none;
  color: #333;
}

.bg-primary {
  background-image: linear-gradient(to bottom right, #007aff, #00c2ff);
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
}

.btn-outline-secondary {
  border-color: #333;
  color: #333;
  background-color: transparent;
  border-radius: 10px;
}

.btn-outline-secondary:hover {
  background-color: #333;
  color: #fff;
}

.list-group-item {
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
}

.list-group-item:hover {
  background-color: #007aff;
  color: #fff;
}

#today-weather {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.green {
  background-color: rgba(34, 255, 92, 0.4);
}

.yellow {
  background-color: rgba(255, 221, 0, 0.4);
}

.orange {
  background-color: rgba(255, 148, 0, 0.4);
}

.red {
  background-color: rgba(255, 25, 0, 0.4);
}

.purple {
  background-color: rgba(199, 0, 255, 0.4);
}

.col-3.m-2.bg-primary {
  background-image: linear-gradient(to bottom right, #007aff, #00c2ff) !important;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  margin: 10px;
}

.col-3.m-2.bg-primary h6 {
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 991.98px) {
  h1 {
    font-size: 2.5rem;
  }

  .container {
    padding: 10px;
  }
}

.jumbotron {
  background: linear-gradient(to bottom, #e2e2e2, #c9c9c9);
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 2rem;
  }

  .col-3.m-2.bg-primary {
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.5rem;
  }
}
